<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.legend.lmusic">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:name=".model.LApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".view.HomeActivity"
            android:launchMode="singleTask"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".view.SettingActivity"/>
        <activity android:name=".view.BaseActivity"/>

        <service
            android:name=".service.PlayService"
            android:enabled="true"
            android:exported="true">
        </service>

        <receiver
            android:name=".broadcast.PlayingBroadcast"
            android:enabled="true"
            android:exported="true">
            <intent-filter android:priority="1000">
                <action android:name="com.legend.BROADCAST_PLAY"/>
                <action android:name="com.legend.BROADCAST_NEXT"/>
                <action android:name="com.legend.BROADCAST_PREVIOUS"/>
                <action android:name="com.legend.BROADCAST_PAUSE"/>
            </intent-filter>
        </receiver>
        <receiver
            android:name=".broadcast.NoisyReceiver"
            android:enabled="true"
            android:exported="true">

            <intent-filter android:priority="1000">
                <action android:name="android.media.AUDIO_BECOMING_NOISY"/>
                <action android:name="com.android.deskclock.ALARM_ALERT"/>
            </intent-filter>
        </receiver>
    </application>

</manifest>